service: import-service
frameworkVersion: '3'
plugins:
  - serverless-offline
provider:
  name: aws
  runtime: nodejs12.x
  iam:
    role:
      statements:
        - Effect: 'Allow'
          Action:
            - 's3:*'
          Resource:
            - 'arn:aws:s3:::toys-shop-product-files'
            - 'arn:aws:s3:::toys-shop-product-files/*'


  stage: dev
  region: us-east-1

functions:
  importProductFile:
    handler: src/functions/Products/importProductCSV/handler.importProductCSV
    events:
      - http:
          path: import
          method: get
          cors: true
          request:
            parameters:
              querystrings:
                name: true
  importFileParser:
    handler: src/functions/Products/parseCSVFile/handler.importFileParser
    events:
      - s3:
          bucket: toys-shop-product-files
          event: s3:ObjectCreated:*
          rules:
            - prefix: uploaded/
          existing: true
